---
layout: default
title: Coins
---

<h1>Coin List</h1>

<ul>
  {% assign coins = site.data.coins %}
  {% for coin in coins %}
    {% assign code_lc = coin.code | downcase %}
    <li style="margin-bottom: 20px;">
      <a href="{{ '/coins/' | append: code_lc | append: '/' | relative_url }}">
        <strong>{{ coin.name }}</strong>
      </a><br>
      {% if coin.images and coin.images[0] %}
        <img src="{{ '/assets/coins/' | append: code_lc | append: '/' | append: coin.images[0] | relative_url }}"
             alt="{{ coin.name }}" style="max-width: 200px;">
      {% endif %}
    </li>
  {% endfor %}
</ul>


